body {    
  width: 700px;  
  margin: 0 auto; 
  padding: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

/* Colours add to look and feel of page. Colour theory is beyond 
the scope of this unit. 
Hex colours can be initially confusing so I have used names from: 
    https://en.wikipedia.org/wiki/Web_colors 
I have kept the color palette simple, 
  * background either darkgray or light gray
  * text either white or black.
I look at online-tools later in the semester. Could choose a palette
from one of the many online generators: 
    https://coolors.co/
*/
header {
  background-color: lightgray;
}

header h1 {
  height: 80px;
  line-height: 80px;
}

nav {
  background-color: darkgray;
  text-align: left;
  padding: 10px;
}

nav a {
  color: white;  /* for consistency, make links the same */
  text-align: center;
  padding: 10px 16px; /* top-bottom padding must match <nav> */
  text-decoration: none;
}

nav a:hover {
  background-color: lightgray;
  color: black;
}

#featured {
  background: lightgray;
  float: left;
  width: 200px;
}

#content {
  float: right;
  width: 500px;
}

#extras {
  background: lightgray;
  float: left;
  width: 200px;
}

#extras p {
  font-size: 50%;
  text-align: center;
  line-height: normal;
}

footer {
  clear: both;
  text-align: center;
  background-color: darkgray;
}

footer a {
  color: white;
  text-decoration: none;
}

/* The following styling is not necessary, just pads a paragraph
left and right.  It is a simple way to show how you can make little 
design changes to a document. */
p {
  margin: 0 10px 10px;
} 
